<footer class="footer">
  <small>
    The <%= link_to t("static_pages.tutorial"), "http://www.railstutorial.org/" %>
    by <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about"), about_path %></li>
      <li><%= link_to t("static_pages.contact"), contact_path %></li>
      <li><%= link_to t("static_pages.new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
